.input-list{
    flex: 1;
    display: flex;
    flex-direction: column;

    gap: var(--space-medium);
}

.input-row{
    display: flex;
    flex-direction: column;
    gap: var(--space-small);

    justify-content: center;
    align-items: stretch;
}

.input-row.inline-input-row{
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
}

.date-group{
    display: flex;
    justify-content: stretch;
    align-items: center;
    gap: var(--space-medium);

    flex-wrap: wrap;
}

.date-group  > *{
    flex: 1;
}

label{
    user-select: none;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--space-small);
}

input{
    user-select: none;
}

input[type='text'],
input[type='email'],
input[type='tel'],
input[type='month'],
textarea
{
    border: 1px solid var(--color-neutral-200);
    border-radius: var(--radius-small);
    
    padding: var(--space-tiny);
    
    min-height: 40px;
}
input[type='checkbox']{
    appearance: none;
    position: relative;
}

.check-mark{
    display: inline-block;
    width: 30px;
    height: 30px;
    
    border: 1px solid var(--color-neutral-200);
    border-radius: var(--radius-small);
    
    padding: var(--space-tiny);
}


textarea{
    resize: vertical;
}


.entry-container{
    display: flex;
    align-items: center;
    justify-content: stretch;

    gap: var(--space-medium);
}

.entry-container .entry-tools{
    display: flex;
    flex-direction: column;
    gap: var(--space-small);
}

.entry-tools .icon-btn{
    width: 40px;
    height: 40px;

    border: 1px solid var(--color-neutral-150);
    border-radius: var(--radius-small);
    
    transition: fill 0.2s ease;
}

.entry-tools .icon-btn:hover{
    fill: var(--color-danger);
}