.header{
    min-height: 50px;
    box-shadow: var(--shadow-lift-light);

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: var(--space-medium);
}

.header .logo{
    fill: var(--color-accent);

    display: flex;
    justify-self: center;
    align-items: center;
}

.header svg{
    width: 40px;
}

.header .title{
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-bold);
}

.header .tool-bar{
    display: flex;
    gap: var(--space-small);

    margin-left: auto;
}


.header .tool{
    border: none;
    background-color: transparent;
    border-radius: var(--radius-small);
    padding: var(--space-small) var(--space-medium);
    box-shadow: var(--shadow-lift-regular);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-small);
}

.header .tool svg{
    width: 20px;
    transition: fill 0.2s ease, transform 0.2s ease;
}

.header .reset:hover svg{
    fill: var(--color-accent);
    transform: rotate(-360deg);
}


.header .load:hover svg{
    animation: load-pulse 1s infinite alternate;
}

.header .download:hover svg{
    fill: var(--color-accent);
    animation: download-oscillate 1s infinite forwards ease;
}

@keyframes load-pulse {
    from{fill: var(--color-neutral-600);}
    to{fill: var(--color-accent);}
}
@keyframes download-oscillate {
    0%{transform: translateY(0px)}
    50%{transform: translateY(2px)}
    100%{transform: translateY(0px)}
}