#root{
  font-family: 'Inter', sans-serif;
}

body{
  background-color: var(--color-bg-base);
}

main{
  display: flex;
  justify-content: space-around;

  gap: var(--space-extreme);
  padding: var(--space-medium);
}

.panel{
  min-width: min(650px, 100%);
}
.panel-header{
  text-align: center;
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-semi);

  margin-bottom: var(--space-medium);
}

.icon-btn{
  display: flex;
  justify-content: center;
  align-items: stretch;

  border: 1px solid var(--color-neutral-900);
  border-radius: var(--border-radius);
  background-color: transparent;
}

.icon-btn.active{
  background-color: black;
}
.icon-btn.active svg{
  fill: white;
}


@media (max-width: 1024px) {
  main{
    flex-direction: column;
  }
}