
main{
  display: flex;
  gap: 32px;
}

.icon-btn{
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 40px;

  border: 1px solid black;
  border-radius: 8px;
  background-color: transparent;
}

.icon-btn.active{
  background-color: black;
}
.icon-btn.active svg{
  fill: white;
}

.panel{
  flex:1;
}